<ion-header>
    <ion-toolbar>
        <ion-title class="subtitulo ion-text-wrap">
          Configuración de NFT
        </ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="openMenu()">
            <ion-icon color="chartreuse" slot="icon-only" name="menu-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>

  <div style="text-align: end; margin: 15px;">
    <ion-button class="normal" color="dark" (click)="nuevo()">
      Nuevo
      </ion-button>
  </div>

  <div *ngIf="EnableNewNft">

    <ion-item>
      <ion-buttons slot="end">
          <ion-button (click)="EnableNewNft = false">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>

          <ion-button (click)="guardarNFT()">
            <ion-icon color="primary" slot="icon-only" name="save-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-item>

    <h3 class="subtituloMenor encabezado">Ingrese datos del NFT</h3>


    <ion-item>
        <ion-label class="normal" position="floating">
          Nombre:
        </ion-label>
        <ion-input [(ngModel)]="newNfts.nombre" class="normal" type="string" inputmode="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="normal" position="floating">
        Coste normal:
      </ion-label>
      <ion-input [(ngModel)]="newNfts.precio_normal" class="normal" type="number" inputmode="numeric"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">
      Coste rebajado:
    </ion-label>
    <ion-input [(ngModel)]="newNfts.precio_rebajado" class="normal" type="number" inputmode="numeric"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal">
      Imagen:
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <label for="file-upload">
          <ion-icon slot="icon-only" name="image-outline"></ion-icon>
        </label>
        <input (change)="NewImage($event)" id="file-upload" style="display:none;" type="file" accept="image/*">
      </ion-button>
    </ion-buttons>

  </ion-item>

  <ion-item>
    <img class="image" [src]="newNfts.foto">
  </ion-item>


  </div>

<ion-card>
  <h3 class="subtituloMenor encabezado">Lista de NFT</h3>

  <ion-item *ngFor="let nft of nfts">
    <ion-label class="normal">{{nft.nombre}}</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="newNfts = nft; EnableNewNft = true;">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="deleteNFT(nft)">
        <ion-icon slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-item>

</ion-card>


</ion-content>
